@import 'src/styles/mixins.scss';

.articleHeader {
  h1 {
    font-family: Lato, sans-serif;
    font-size: 2em;
    text-align: center;
    margin-bottom: 0.4em;
    text-wrap: balance;
    @include md {
      font-size: 3.3em;
    }
  }
  .extendedInfo {
    font-size: 0.9em;
    text-align: center;
    span {
      text-transform: capitalize;
      margin: auto 1em;
      svg {
        margin-right: 4px;
      }
      a:link, a:visited {
        color: #222;
        text-decoration: none;
      }
      a:hover {
        color: var(--secondaryText);
      }
    }
  }
}

.coverImage {
  width: 100%;
}

.updatedDateMessage {
  margin: 1em 0 1em 0;
  width: 22em;
  text-align: center;
  background-color: #d4effa;
  color: #466cbe;
  border-radius: 4px;
  padding: 4px;
}

.emptyUpdatedDateMessage {
  margin: 1em 0 1em 0;
  width: 22em;
  padding: 4px;
}

.contentInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .tags {
    font-size: 0.9em;

    span {
      color: #466cbe;
      border-left: 4px solid #90a6d5;
      background-color: #d4effa;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      padding: 2px 4px 2px 4px;
      margin: 0 4px;

      &:hover {
        background-color: #90a6d5;
        color: #d4effa;
      }

      a:link, a:visited, a:hover {
        color: #466cbe;
        text-decoration: none;
      }

      a:hover {
        color: #d4effa;
      }
    }
  }
}

